@charset "utf-8";
/* 구글폰트 */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

/* 기초 설정 */
div, h1, h2, h3, h4, h5, h6, ol, ul, li, a, img, html, body, header, section, article, aside {margin: 0; padding: 0;}
a {text-decoration: none; color: #000;}
ul, ol, li {list-style: none;}
img {display: block; font-size: none;}
html,body {
  font-family: "Nanum Gothic", sans-serif;
  width: 100%;
  height: 100%;
}



/********************* home 화면 설정 **************************/
/* wrapper 설정 */
.wrapper {width: 100vw; height: 100vh; }

/* 사이트 바로가기 배경 설정 */
.wrapper > a {
  width: 100%; 
  height: 100%; 
  display: block;
  position: relative;
}
.wrapper > a > h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  color: #eee;
  transform: translate(-50%, -50%);
  font-size: 40px;
  text-shadow: 5px 5px 5px #000;
}
.wrapper > a > ul {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.wrapper > a > ul li {
    width: 100%; 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper > a > ul li:nth-child(2) {
    border: 3px solid #FFEFBA;
    border-top: none;
    border-bottom: none;
}

.wrapper > a > ul li:nth-child(1) {background-image: url("https://i.pinimg.com/originals/ba/b6/08/bab6083d2b470bf80d99ac49c2b331a5.gif");}
.wrapper > a > ul li:nth-child(2) {background-image: url("https://i.pinimg.com/originals/fe/2d/69/fe2d69dd37645808c324bc7ae242abcf.gif");}
.wrapper > a > ul li:nth-child(3) {background-image: url("https://i.pinimg.com/originals/a4/b3/70/a4b370d25607eed5c2e3a2fe4cc361b0.gif");}

/* 인사말 설정 */
.wrapper > a > .content {
  display: block;
  width: 90%;
  height: auto;
  padding: 5px;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid dodgerblue;
  border-radius: 10px;
  color: #eee;
  box-sizing: border-box;
}
.wrapper > a > .content > h3 {
  margin: 10px 0; 
  font-size: 25px; 
  text-shadow: 0 0 5px rgba(255,255,255,0.8);
}
.wrapper > a > .content > p {font-size: 16px;}
.wrapper > a > .content > p span {font-weight: bold; color: #FFEFBA;}
.wrapper > a > .content > h4 {font-weight: bold; font-size: 12px;}





/* *********** index 메인 화면 설정 ************* */
/* container 전체 설정 */
.container {width: 100%; height: 100%;}

/* container_bg 배경설정 */
.container_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.pinimg.com/originals/79/7f/ea/797fea56f2fe8235f1be79a0d26e03a9.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  /* 배경화면 저작권자: https://www.pinterest.co.kr/pin/154248355974614860/ */
}
.container_bg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

/* header 설정 */
header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #eee;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}

/* 메인메뉴로 가는 TOP버튼 */
header .head_btn_up {
  position: fixed;
  bottom: 2%;
  right: 22%;
  z-index: 30;
  opacity: 1;
}
header .head_btn_up a i{
  color: rgba(0,0,0,0.9);
  padding: 0px 12px;
  background-color: rgba(255,255,255,0.6);
  font-size: 40px;
  border-radius: 10px;
}

/* 메인메뉴 밑으로 가는 bottom버튼 */
header .head_btn_down {
  position: fixed;
  bottom: 2%;
  right: 4%;
  transform: rotate(180deg);
  z-index: 30;
  opacity: 1;
}
header .head_btn_down a i{
  color: rgba(0,0,0,0.9);
  padding: 0px 12px;
  background-color: rgba(255,255,255,0.6);
  font-size: 40px;
  border-radius: 10px;
}



/* 헤더 메뉴 설정 */
header .header_menu {
  width: 100%; 
  height: 50px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}
header .header_menu > li {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header_menu li:nth-child(1) > a i.home_btn {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 40px; 
  text-shadow: none; 
  color: #111;
  text-shadow: 0px 0px 5px gray;
}
header .header_menu li:nth-child(1) {width: 20%; height: 100%;}
header .header_menu li:nth-child(2) {width: 80%; height: 100%;}



/* 홈메뉴 리스트 설정 */
.btn_list {
  position: absolute;
  top: 33%;
  left: 0;
  width: 150px;
  height: 200px;
  background-color: rgba(255,255,255,0.8);
  border: 4px solid rgba(0,0,0,0.8);
  box-sizing: border-box;
  display: none;
}
.btn_list li.list_contents {
  width: 150px; 
  height: 25%;
  display: block;
}
.btn_list > li > a {
  width: 100%;
  height: 100%;
  display: block;
}

/* 헤더 메뉴의 nav 설정 */
header .header_menu li .header_nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header_menu li .header_nav > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3333%;
  height: 100%;
  background-color: #eee;
  
  font-size: 20px;
  font-weight: bold;
  color: #eee;
  text-shadow: 0px 0px 5px rgba(0,0,0,1);
  box-sizing: border-box;
  cursor: pointer;
}

header .header_menu li .header_nav > li.on {
  background-color: rgba(0,0,0,0.6);
  color: #111;
  text-shadow: 0px 0px 5px rgba(255,255,255,1);
}

/**********************music box setup start********************************************/
/* 뮤직박스 */
.music_box {
  width: 100%; 
  height: auto; 
  overflow: hidden;
}

/* 뮤직박스 세부설정 */
#myProgress {
  width: 100%;
  background-color: #d9d9f2; 
  cursor: pointer;
  border-radius: 10px;
}

#myBar {
  width: 0%;
  height: 5px;
  background-color: #ffc266;
  border-radius: 10px;
}

.logo {fill: red;}

.btn-action{
  cursor: pointer;
  padding-top: 10px;
  width: 30px;
}

.btn-ctn, .infos-ctn{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 뮤직박스 맨 위쪽 패딩값 설정 */
.infos-ctn{padding-top: 2px;}

.btn-ctn > div {
 padding: 5px;
 margin-top: 8px;
 /* 뮤직박스 크기 때문에 하단 마진을 생략한다. */
 /* margin-bottom: 18px; */
}

.infos-ctn > div {
 margin-bottom: 8px;
 color: #ffc266;
 /* 뮤직박스 크기 때문에 크기를 줄였다. */
 font-size: 12px;
}

.first-btn{margin-left: 3px;}

.duration{margin-left: 10px;}

.title{
  margin-left: 10px;
  width: 90%;
  text-align: center;
}

/* 뮤직박스 전체 */
.player-ctn{
  /* border-radius: 15px; */
  width: 100%;
  padding: 10px;
  background-color: #373737;
  /* margin:auto; */
  /* margin-top: 10px; */
  box-sizing: border-box;
}

.playlist-track-ctn{
  display: flex;
  background-color: #464646;
  /* 크기 때문에 하단 플레이 리스트의 상단 마진 생략 */
  /* margin-top: 3px; */
  border-radius: 5px;
  cursor: pointer;
}

.playlist-track-ctn > div{
  margin:10px;
  /* 하단에 음악 리스트 메뉴가 안나오게 하려고 none 해줬따. */
  display: none;
}
.playlist-info-track{width: 80%;}
.playlist-info-track,.playlist-duration{
  padding-top: 7px;
  padding-bottom: 7px;
  color: #e9cc95;
  font-size: 14px;
  pointer-events: none;
}
/* 크기 때문에 상단 메뉴 전테 하단 패딩을 줄였다. */
/* .playlist-ctn{padding-bottom: 20px;} */
.active-track{
  background: #4d4d4d;
  color: #ffc266 !important;
  font-weight: bold;
}
.active-track > .playlist-info-track,.active-track >.playlist-duration,.active-track > .playlist-btn-play{color: #ffc266 !important;}
.playlist-btn-play{
  pointer-events: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* 하단 멈춤, 플레이, 다음곡 텍스트 크기 설정 */
.fas{color: #ffc266; font-size: 20px;}

/**********************music box setup end********************************************/

/* section  설정 */
section {
  position: absolute;
  width: 100%;
  height: auto;
  padding: 200px 0px 10px 0px;
  box-sizing: border-box;
  display: none;
}
section.active {display: block;}

/* section_btn */
.section_btn {
  position: fixed;
  top: 23%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100px;
  height: 40px;
  z-index: 10;
  
}
.section_btn ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section_btn ul li{
  cursor: pointer;
  font-size: 12px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border: 1px solid #ffc266;
  border-radius: 50%;
  color: #ffc266;
  background-color: #4d4d4d;
}
.section_btn ul li.on {
  color: #111;
  background-color: #eee;
  font-size: 14px;
  font-weight: bold;
}

/* section_inner */
.section_inner {
  position: absolute;
  width: 100%;
  height: auto;
  /* background-color: red; */
  display: none;
}
.section_inner.active {display: block;}

/* article 설정 */
article {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 80px;
  border: 4px solid #5691c8;
  border-radius: 2px;
  z-index: 0;
  box-sizing: border-box;
}
article h3 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 4px solid #5691c8;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
  top: -38px;
  left: -4px;
  color: #5691c8;
  background-color: #eee;
  z-index: -10;
  font-size: 14px;
  font-weight:900;
}

article .art_inner {
  width: 100%;
  height: 100%;
  /* 이걸로 감춰주면 이미지 안보일때 전체 너비가 깨져서 화면이 좁혀지는 것을 막을 수 있다. */
  overflow: hidden;
}

article a {
  display: block;
  width: 100%;
  height: 100%;
}
article a img{
  display: block;
  font-size: none;
  width: 100%;
  height: 100%;
  border: none;
}
