@charset "UTF-8";
/* 반응형 미디어 쿼리 */

/* 모바일( ~ 400px 너비까지 적용) */
@media screen and (max-width: 401px){
    
    /* wrapper */
    .wrapper {width: 100%;}

    /* 헤더 */
    .header {height: 60px;}
    
    /* 헤더 메뉴바 */
    .header_menu_bar {width: 16%;}
    .header_menu_bar i {font-size: 36px;}

        /* 헤더 메뉴 */
    nav {width: 84%;}
    .nav_menu {width: 100%; display: none;}
    .nav_menu li {width: 25%;}
    .nav_menu li i {font-size: 18px;}
    .nav_menu li p {font-size: 12px;}

    }


