@charset "UTF-8";



/* 초기화 설정 */
html,body,div,a,ol,ul,li,h1,h2,h3,h4,h5,h6,header,section,footer,aside,article,i { margin: 0; padding: 0; } 
html,body { width: 100%; height: 100%; } 
ol,ul,li { list-style: none; } 
a { text-decoration: none; } 