@charset "utf-8";

/* body 기본 설정 */
body {
  width: 100%; 
  min-height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
}

/* container 설정 */
.container {
  width: 100%; 
  height: 100%;
  /* 배경 이미지 주소: https://www.pinterest.co.kr/pin/410320216064242036/ */
  background-image: url("https://i.pinimg.com/originals/00/13/ed/0013ed69823357547f71c2af59cbe515.gif"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

/* 배경 환영 텍스트 설정 */
.container_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container_title > h1 {
  font-style: none;
  font-size: 28px;
  font-family: 'Chivo Mono', monospace;
  text-shadow: 3px 2px #aaa;
  
}
.container_title > p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.container_title > h3 {
  font-size: 22px;
  font-family: 'Gugi', cursive;
  text-shadow: 3px 2px #aaa;
}



/* 헤더 설정 */
header {width: 100%; height: 8%;}
header .header_inner {
  position: relative;
  width: 100%; 
  height: 100%; 
}



/* 헤더 타이틀 설정 */
.header_inner_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
}

/* 사이트 제목 설정 */
header .header_inner > h1 > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  text-shadow: 2px 2px rgba(0,0,0,0.5);
  color: #fff;
}
header .header_inner h1 {padding: 10px 15px;}

/* header 네비게이터 전체 설정 */
nav {
  position: relative;
  width: 100%;
  height: 100%;
}
nav .nav_inner {width: 100%; height: 100%; overflow: hidden;}


/* nav 햄버거 버튼 아이콘 설정 */
.nav_inner .nav_inner_hamBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_inner .nav_inner_hamBtn i {font-size: 40px; color: #FFF;}

/* 햄버거 메뉴 설정 */
.nav_inner .nav_inner_menu {
  position: absolute;
  top: 0;
  left: -100%; /* pc 화면: -10% */
  width: 100%; /* pc 화면: 10% */
  height: auto;
  background: linear-gradient(
    rgb(97, 12, 159),
    rgb(148, 11, 146),
    rgb(218, 12, 129),
    rgb(233, 87, 147)
  );
  z-index: 150;
  transition: all 0.5s;
  cursor: pointer;
  /* overflow-y: scroll; */ 
}
.nav_inner .nav_inner_menu.active {left: 0;}
.nav_inner .nav_inner_menu > ul {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 50px;
  
}
.nav_inner .nav_inner_menu > ul > li {
  width: 100%; 
  height: 100%;
  border-top: 2px solid rgba(0,0,0,0.4);
  box-sizing: border-box;
}
.nav_inner .nav_inner_menu > ul > li:nth-child(1) {border-top: none;}
.nav_inner .nav_inner_menu > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-family: 'Gugi', cursive;
  color: #fff;
  text-shadow: 3px 2px #558ABB;
  padding: 10px 0px;
}
/* 햄버거 메뉴 닫기 버튼 */
.nav_inner_menu_close {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_inner_menu_close i {
  font-size: 40px; 
  color: #fff;
  text-shadow: 3px 2px #558ABB;
}


/* 뮤직박스 아이콘 */
.nav_inner .nav_inner_musicBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_inner .nav_inner_musicBtn i {font-size: 40px; color: #FFF;}

/* 뮤직박스 전체 설정 */
.nav_inner .nav_inner_musicMenu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #5d6d7e, #566573);
  flex-direction: column; /* 이거 때문에 굳이 블럭구조나 다른 영역 효과 필요 없이 세로로 내려간다. */
  z-index: 150;
  transition: all 0.5s;
}
.nav_inner .nav_inner_musicMenu.active {left: 0;}
/* 모든 버튼 호버시 색상 설정 */
.nav_inner_musicMenu > button:hover {background: #ff8a65;}
/* 모든 버튼의 아이콘 설정 */
.nav_inner_musicMenu > i::before {color: #fff; font-size: 12px;}

/* 뮤직박스 닫기 버튼 */
.nav_inner_musicMenu .nav_inner_musicMenu_close {
  position: absolute;
  top: 3%;
  right: 2%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_inner_musicMenu_close i {font-size: 40px; color: #fff;}

/* 뮤직 박스 세부 내용 */
.nav_inner .nav_inner_musicMenu button {padding: 10px 12px; margin: 0 10px;}


/* range slider */
.nav_inner_musicMenu input[type="range"]{
  -webkit-appearance: none;/* 기존에 제공하는 기본 슬라이드 바 테두리 안보이기 */
  width: 50%;
  outline: none;
  height: 2px;/* 슬라이드 바 높이 설정 */
  margin: 0 15px;
}
.nav_inner_musicMenu input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none; /* 슬라이드에 있는 스톱바 안보이기 */
  height: 20px;
  width: 20px;
  background: #ff8a65;
  border-radius: 50%;
  cursor: pointer;
}

.nav_inner_musicMenu input[type="range"]{width: 40%;}


/* volume part */
.nav_inner_musicMenu .volume {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.nav_inner_musicMenu .volume p {font-size: 15px;}
.nav_inner_musicMenu .volume i {
  cursor: pointer;
  padding: 8px 12px;
  background: #ff8a65;
}
.nav_inner_musicMenu .volume i:hover {background: rgba(245,245,245,0.1);}
.nav_inner_musicMenu .volume #volume_show {
  padding: 8px 12px;
  margin: 0 5px 0 0;
  background: rgba(245,245,245,0.1);
}


/* right part */
.nav_inner_musicMenu .middle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 오른쪽 버튼 모양 설정 */
.nav_inner_musicMenu .middle button {
  border: none;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  background: rgba(245,245,245,0.1);
}

/* 노래제목 설정 */
.nav_inner_musicMenu #title {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  color: #fff;
  font-size: 14px;
  width: 80%;
  height: auto;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} 
/* 가수 이름 설정 */
.nav_inner_musicMenu #artist {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  color: #fff;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
/* 음악 현재 위치 표현 설정 */
.nav_inner_musicMenu .duration {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20px;
  margin-top: 40px;
}
.nav_inner_musicMenu .duration p {
  color: #fff;
  font-size: 12px;
  margin-left: 20px;
}

/* 자동 플레이 버튼 설정 */
.nav_inner_musicMenu #auto {
  font-size: 16px;
  cursor: pointer;
  margin-top: 45px;
  border: none;
  padding: 10px 14px;
  color: #fff;
  background: rgba(245,245,245,0.2);
  outline: none;
  border-radius: 10px;
}
/* 플레이 버튼 설정 */
.nav_inner_musicMenu #play {background: #ff8a65;}

/* 음악 리스트 번호 */
.nav_inner_musicMenu .show_song_no {
  position: absolute;
  top: 10px;
  left: 10px;
  width: auto;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  color: #fff;
  border-radius: 5px;
  background: rgba(255,255,255,0.2);
}
.nav_inner_musicMenu .show_song_no p:nth-child(2) {margin: 0 5px;}

/* 뮤직박스 세부내용 끝 */

/* 서브 메뉴 설정 */
.nav_inner_sub_menu {display: none;}
.nav_inner_sub_menu > li {
  width: 100%; 
  height: 100%; 
  box-sizing: border-box;
  border-top: 1px solid rgba(0,0,0,0.8);
  background-color: rgba(0,0,0,0.4);
  
}
.nav_inner_sub_menu > li > a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 26px;
  font-family: 'Dongle', sans-serif;
  font-weight: Bold;
  color: #fff;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
/* *********음악 박스 설정 종료*********** */


/* section 설정 */
section {
  box-sizing: border-box;
  width: 100%; 
  height: 92%; 
  display: flex;
  justify-content: center;
  align-items:flex-end;
}

.section_inner {
  width: 100%; 
  height: 100%; 
  position: relative;
}

/* article 설정 */
.section_inner .tab {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.section_inner .tab > h3 {
  position: absolute;
  top: -2%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: #fff;
  text-shadow: 1px 2px 2px #000;
  z-index: 100;
}

.section_inner .tab:target {opacity: 1; visibility: visible;}



/* 사이트 소개 설정 */
.section_inner .tab aside {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 1px 2px 2px #000;
  background-color: rgba(255,255,255,0.4);
}

.aside_inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: calc(100% - 40px);
}

.aside_inner_top {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 0px 3%;
  border-bottom: 2px solid #fff;
}

.aside_inner_body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: calc(100% - 40px);
  background-color: rgba(0,0,0,0.9);
  border-bottom: 2px solid #fff;
}

.aside_inner_body h1 {
  color: #fff;
  font-size: 50px;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  margin: 15px 0;
}
.aside_inner_body h6 {
  margin-top: 35px;
  color: #558ABB;
}


/* swiper 슬라이드  설정*/
.swiper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 1px 2px 2px #000;
  background-color: rgba(255,255,255,0.4);
}
.swiper-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: calc(100% - 40px);
}

/* 슬라이드 제목 설정 */
.swiper .swiper-slide-title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  padding: 0px 3%;
  border-bottom: 2px solid #fff;
  text-align: center;
}
.swiper .swiper-slide-title > h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: normal;
}


.swiper-slide .img_inside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 40px);
  background-color: rgba(0,0,0,0.9);
}

.swiper-slide .img_inside a {
  /* width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden; */

  /* 수정용 */
  max-width: fit-content;
  max-height: calc(100% - 10px); /* 모바일 화면에서 수정하는 부분 */
  /* background-color: cadetblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* 슬라이드 이미지를 화면 크기에 맞춤 */
.swiper-slide .img_inside a img {
  /* width: 100%;
  height: auto;
  object-fit:fill; */

  /* 수정용 */
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/* 슬라이드 하단 번호 표시 */
.swiper-pagination {
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-top: 2px solid #fff;
  letter-spacing: 5px;
}

/* 슬라이드 변환 시간 SVG 이미지가 없어서 이미지는 안나옴  */
/* 슬라이드 자동 변환 설정 */
/* .autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 56px;
  z-index: 110;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
} */
/* 슬라이드 자동 변환 아이콘 이미지 변환 설정 */
/* .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 110;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
} */



/* ****************************************************** */

/* PC 화면 설정 */
/* PC 화면 헤더 설정 */
.pc_header_inner {display: none;}

/* pc nav 설정 */
.pc_nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pc_nav > ul {
  width: 100%;
  height: 100%;
}




