@charset "utf-8";

/* 대문으로 가는 임시 설정 */
.gohome {
    position: absolute;
    width: 200px;
    height: 100px;
    bottom: 85%;
    left: 5%;
    transform: translateX(-50%);
    font-size: 30px;
    color: black;
    background-color: #aaa;
    z-index: 1000;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}
.gohome h1 {font-weight: normal; font-size: 18px;}
.gohome p {font-weight: bold; font-size: 16px;}

/* body 기본 설정 */
body {
  min-height: 100vh; 
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* container 설정 */
.container {
  width: 1600px;
  height: 100%;
  margin: 0 auto;
}

/* 헤더 설정 */
header {width: 100%; height: 50px;}

/* nav 메뉴 설정 */
nav {width: 100%; height: 100%; background-color: blue;}
nav .nav_menu {
  width: 100%;
  height: 100%;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav_menu > li {
  width: 20%; 
  height: 100%; 
  text-align: center; 
  line-height: 50px;
  position: relative;
  cursor: pointer;
}
nav .nav_menu > li a{
  display: block;
  width: 100%;
  height: 100%;
}
nav ul > li:nth-child(1) {background-color: #777;}
nav ul > li:nth-child(2) {background-color: #666;}
nav ul > li:nth-child(3) {background-color: #888;}
nav ul > li:nth-child(4) {background-color: #999;}
nav ul > li:nth-child(5) {background-color: #aaa;}

/* 서브메뉴 공통 설정 */
.nav_menu_sub {
  width: 100%;
  height: 100%;
  /* position은 굳이 위에 realative가 없어도 absolutue만 주면
  해당 위치에서 가장 가까운 상위 위치에 자동으로 붙는다. */
  position: absolute;
  bottom: 200px;
  left: 0;
  z-index: 100;
  /* display: none을 하면 안된다. 그러면 transition이 먹히지 않는다. */
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.nav_menu_sub.active {
  bottom: -50px;
  opacity: 1;
  visibility: visible;
}

/* 서브 메뉴 아코디언 설정 */
.nav_menu_sub_submenu {display: none;}

/* 검색창 설정 */
/* #search_form {} */
#search_form input, #search_form button {padding: 5px 10px;}

/* *************************************header end**************************************** */

/* 섹션 설정 */
section {width: 100%; height: calc(100vh - 50px);}
.section_inner {
  width: 100%; 
  height: 100%;
  /* background img site: https://www.kogl.or.kr/recommend/recommendDivView.do?recommendIdx=36771&division=img */
  position: relative;
  background-image: url("http://www.kogl.or.kr/upload_recommend/%ED%82%A4%EC%9B%8C%EB%93%9C%20%EC%A0%80%EC%9E%91%EB%AC%BC/%EB%8C%80%EC%A0%84%EA%B4%91%EC%97%AD%EC%8B%9C/%EB%AC%B4%EC%8A%A8%20%EC%82%AC%EC%A7%84%EC%9D%BC%EA%B9%8C/%EA%B3%B5%EB%AA%A8%EC%A0%84_0191_%EB%8C%80%EC%A0%84%20%EC%95%BC%EA%B2%BD.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* article 설정 */
.section_inner .tab {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.section_inner .tab h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #Fff;
  font-size: 50px;
}
.section_inner .tab:target {
  opacity: 1;
  visibility: visible;
}


/* swiper 슬라이드  설정*/
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto; 
  margin-right: auto;
  color: #fff;
}

/* 슬라이드 제목 설정 */
.swiper .swiper-slide-title {
  width: calc(100% - 100px);
  height: 40px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-slide-title > h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50%;
  height: 100%;
  font-size: 20px;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper .swiper-slide-title h2 em {
  font-style: normal;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
}
.swiper-slide a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background: #999; */
  padding: 50px 50px;
  box-sizing: border-box;
  
}

.swiper-slide a .img_inside {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  overflow: hidden;
}

.swiper-slide a .img_inside img {
  display: block;
  width: 100%;
  height: 100%;
}

