@charset "utf-8";

/* 대문으로 가는 임시 설정 */
.gohome {
    position: absolute;
    width: 200px;
    height: 100px;
    bottom: 85%;
    left: 5%;
    transform: translateX(-50%);
    font-size: 30px;
    color: black;
    background-color: #aaa;
    z-index: 1000;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}
.gohome h1 {font-weight: normal; font-size: 18px;}
.gohome p {font-weight: bold; font-size: 16px;}

/* body 기본 설정 */
body {
  min-height: 100vh; 
  /* background-color: #000 */
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* container 설정 */
.container {
  width: 1600px;
  height: 100%;
  margin: 0 auto;
}

/* 헤더 설정 */
header {width: 100%; height: 50px;}

/* nav 메뉴 설정 */
nav {width: 100%; height: 100%; background-color: blue;}
nav .nav_menu {
  width: 100%;
  height: 100%;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav_menu > li {cursor: pointer;}
nav .nav_menu > li {
  width: 20%; 
  height: 100%; 
  text-align: center; 
  line-height: 50px;
  position: relative;
}
nav ul > li:nth-child(1) {background-color: #777;}
nav ul > li:nth-child(2) {background-color: #666;}
nav ul > li:nth-child(3) {background-color: #888;}
nav ul > li:nth-child(4) {background-color: #999;}
nav ul > li:nth-child(5) {background-color: #aaa;}

/* 서브메뉴 공통 설정 */
.nav_menu_sub {
  width: 100%;
  height: 100%;
  /* position은 굳이 위에 realative가 없어도 absolutue만 주면
  해당 위치에서 가장 가까운 상위 위치에 자동으로 붙는다. */
  position: absolute;
  bottom: 200px;
  left: 0;
  z-index: 100;
  /* display: none을 하면 안된다. 그러면 transition이 먹히지 않는다. */
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.nav_menu_sub.active {
  bottom: -50px;
  opacity: 1;
  visibility: visible;
}

/* 갤러리 서브메뉴 */
/* .nav_menu_gal_sub{} */

/* 코딩 서브메뉴 */
/* .nav_menu_cord_sub {} */


/* 검색 서브메뉴 */
/* .nav_menu_search_sub {} */

/* 서브 메뉴 아코디언 설정 */



/* 섹션 설정 */
section {width: 100%; height: calc(100vh - 50px);}

/* swiper 슬라이드  설정*/
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto; 
  margin-right: auto;
  color: #fff;
}
/* .swiper.dot1 {display: none;visibility: hidden;} */

.swiper-slide {background-color: red;}
.swiper-slide h2 {
  width: calc(100% - 100px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  text-align: center;
  background-color: #555;
}
.swiper-slide a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background: #999; */
  padding: 50px 50px;
  box-sizing: border-box;
  
}

.swiper-slide a .img_inside {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  overflow: hidden;
}

.swiper-slide a .img_inside img {
  display: block;
  width: 100%;
  height: 100%;
}

