@charset "utf-8";

/* 모바일( 360px ~ 412px 너비까지 적용) */
/* 갤럭시 S20  울트라 비율: 1440 X 3200 */
@media (max-width: 412px){

    /* html, body setting */
    html, body {width: 100%; height: 100%;}
    body {
    position: relative;
    background-color: yellow;
    color: #000;
    padding: 0px 5px 0px 5px;
    }

    /* header 설정 */
    nav {
        display: none;
    }
    .ham_menu {
        display: block;
    }

    /* 이미지 크기 자동 변환 실험 */
    .gallery_img_window {
        height: 100%; /* 모바일 화면에서 수정하는 부분 */
    }

    .gallery_img_window > img {
        display: block;
        border: none;
        margin: 0;
        padding: 0;
        border: 1px solid blueviolet;
        box-sizing: border-box;
      }

    
}

/* PC( 1920px ~ 2560px 이상 적용) */
@media (min-width: 1920px) and (max-width: 2561px){

    /* header 설정 */
    nav {
        display: block;
    }
    .ham_menu {
        display: none;
    }

 

}