@charset "utf-8";

/* 모바일( 360px ~ 412px 너비까지 적용) */
/* 갤럭시 S20  울트라 비율: 1440 X 3200 */
@media (max-width: 412px){

    
/* bg 설정 */
.bg_img {background-size:cover;}
    

    /* 임시주소 계시판 */
.temp {
    width: 150px;
    height: 80px;
    text-align: center;
    background-color: cornflowerblue;
    z-index: 1000;
  }
  .temp > h3 {
    font-weight: bold;
    color: green;
    font-size: 14px;
  }
  .temp > ul > li > a {
    width: 100%;
    height: 100%;
    display: block;
    background-color: antiquewhite;
    margin-top: 6px;
    font-size: 12px;
  }


  /* ham_menu 설정 */
header .ham_menu {
  display: block;
  width: 100%;
}
/* ham_menu 설정 끝 */
/* header NAV 설정 */
header nav {
  display: none;
  width: 0%;
}
/* header NAV 설정 끝 */

    
}

/* PC( 1920px ~ 2560px 이상 적용) */
@media (min-width: 1920px) and (max-width: 2561px){

    /* container 설정 */
    

 

}