@charset "utf-8";

html, body, div, h1, h2, h3, h4, h5, h6 , a, em, img, header, section, footer, ol, ul, li, p {margin: 0; padding: 0; box-sizing: border-box;}
h1, h2, h3, h4, h5, h6 , a, p {color: #000;}
a {text-decoration: none;}
ol, ul, li {list-style: none; margin: 0; padding: 0;}
img {display: block; border: none; font-size: 0;}
html, body {width: 100%; height: 100%;}
