@charset "utf-8";

/* html, body setting */
html, body {width: 100%; height: 100%;}
body {
  background-color: yellow;
}


/* container 설정 */
.container {
  width: 80%;
  height: 90%;
  margin: 10%;
  background-color: red;
}


/* 전체 컨테이너 설정  */
